In [6]:
# https://examples.dask.org/dataframe.html

%%time
import dask.dataframe as dd

in_csv = r"\\win10-model-1\Model-1-Data\SACSIM19\MTP2020\amendment_1\conformity\2016\run_2016_baseline_AO13_V7_tazFix_Amend1\_trip.tsv"


df_dask = dd.read_csv(in_csv, sep='\t')

Wall time: 45.9 ms

In [7]:
%%time
df_dask.head()

Wall time: 1.66 s

,id,tour_id,hhno,pno,day,tour,half,tseg,tsvid,opurp,...,pathtype,dorp,deptm,arrtm,endacttm,travtime,travcost,travdist,vot,trexpfac
0,11101,111,11,1,1,1,1,1,0,0,...,1,1,484,486,975,2.327280,0.075163,0.779177,7.463170,1
1,11151,111,11,1,1,1,2,1,0,1,...,1,1,975,976,179,1.641068,0.075163,0.549432,7.463170,1
2,7101,71,7,1,1,1,1,1,0,0,...,1,0,1085,1091,1212,6.629101,0.000000,1.104850,3.901648,1
3,7151,71,7,1,1,1,2,1,0,1,...,1,0,1212,1223,1245,11.641743,0.000000,1.940291,3.901648,1
4,7152,71,7,1,1,1,2,2,0,7,...,1,0,1245,1252,179,7.631762,0.000000,1.271960,3.901648,1

In [10]:
%%time

# select all transit trips and use compute() to return the result as a normal pandas-style dataframe
df_transit = df_dask.loc[df_dask['mode'] == 6].compute()

Wall time: 14.3 s

In [13]:
%%time
# do the pandas groupby operation on the dask dataframe
df_tripxmode = df_dask.groupby('mode')['mode'].sum()

# render the resulting groupby dataframe as a visible pandas dataframe
df_tripxmode.compute()

Wall time: 15.5 s

mode
1      653121
2      423840
3    10540575
4     7460912
5     9453150
6      614982
8      810864
Name: mode, dtype: int64