In [3]:
# pandas read clipboard
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_clipboard.html

import pandas as pd

# just copy CSV info to clipboard and run this command.
# command accepts all args that read_csv does.
# How will it handle geom columns for GIS data?
df = pd.read_clipboard()

In [4]:
df.head()

Empty DataFrame
Columns: [read_clipboard]
Index: []

In [21]:
# make a test dataframe for checking functionality
# resulting sample df will have 4 cols, 30 rows of random float values
# run print(dir(pd.util.testing)) to see what other types of testing dataframes are available
# Examples: makeMissingDataframe = df with null vals; makeMixedDataFrame = df with string, int, and float dfs;
# makeTimeDataFrame = df with time stamp col in it

pd.util.testing.N = 10 # number of rows in testing df
pd.util.testing.K = 4 # number of cols in testing df
tdf = pd.util.testing.makeMixedDataFrame()
tdf

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07