In [23]:
"""Purpose:
    In Pandas, you sometimes need to do a complex calculation to calculate a new column.
    Examples:
        -Recode a column with values 'a','b','c' to be human-readable values like 'birds', 'cats','dogs'
        -conditionally do different operations on each value of a field, based on the value of
        another field (e.g. if field 1 = "bird" then multiply field 2 by x; if field 1 = "dog"
        then calculat 2 ^ x).
        
    NOTE - for simple operations (e.g. field 3 = field 1+field 2, f3 = f1*f2), use Pandas builtin
    functions, e.g. use df['new field'] = df['f1'] * df['f2'] instead of doing an apply or other row-wise function
    """

import pandas as pd
import numpy as np

#make testing dataframe of random integers with values 0-10, 4 cols, 100,000 rows
df = pd.DataFrame(np.random.randint(0,10, size=(300000, 4)), columns=['a','b','c','d'])

In [24]:
# OPTION 1: dataframe built-in function to sum 

def sum_w_pd_builtin(in_df):
    return (in_df['a'] + in_df['b']).sum()

%timeit sum_w_pd_builtin(df)

1.1 ms ± 8.27 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
# OPTION 2: using df.apply to sum row wise for same colums


def sum_using_apply(in_df):
    return in_df.apply(lambda x: x['a'] + x['b'], axis=1).sum()
    
%timeit sum_using_apply(df)

6.16 s ± 51.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [38]:
#DICT LOOKUP FOR A NEW COLUMN, USING APPLY
ldict = {1:'a', 2:'b', 3:'c', 4:'d'}


def make_dict_col(x, df_field, in_dict):
    if x[df_field] in in_dict.keys():
        out_val = in_dict[x[df_field]]
    else:
        out_val = 'na'
    return out_val

%time
df['newcol'] = df.apply(lambda x: make_dict_col(x, 'd', ldict), axis=1)
df.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.96 µs

   a  b  c  d newcol
0  7  8  5  6     na
1  7  9  7  1      a
2  9  5  0  8     na
3  4  5  8  7     na
4  2  8  4  5     na

In [39]:
ldict = {1:'a', 2:'b', 3:'c', 4:'d'}


%time
def recoder(in_df, in_recode_dict, src_col_name, dest_col_name, nullval=None):
    newcol_list = []
    for i in in_df[src_col_name]:
        if i in in_recode_dict.keys():
            outval = in_recode_dict[i]
        else:
            outval=nullval
        newcol_list.append(outval)

    ncolser = pd.Series(newcol_list)
    ncolser = ncolser.rename(dest_col_name)

    return df.merge(ncolser, left_index=True, right_index=True)

df2 = recoder(df, ldict, 'a', 'a_2', nullval='na')

df2.head()

   a  b  c  d newcol a_2
0  7  8  5  6     na  na
1  7  9  7  1      a  na
2  9  5  0  8     na  na
3  4  5  8  7     na   d
4  2  8  4  5     na   b